<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 p-0">
      <h5>ログイン</h5>
    </div>
  </div>
</div>

<div class="container pt-3">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="row pb-2 pl-5">
      <div class="col-md-3 col-lg-2">
        <%= f.label :email %>
      </div>
      <div class="col-md-9 col-lg-10">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス" , size: 30 %>
      </div>
    </div>
    <div class="row pb-2 pl-5">
      <div class="col-md-3 col-lg-2">
        <%= f.label :password %>
      </div>
      <div class="col-md-9 col-lg-10">
        <%= f.password_field :password, autocomplete: "current-password", placeholder: "パスワード" , size: 30 %>
      </div>
    </div>
    <div class="row pl-5 mt-2">
      <div class="col-md-3 col-lg-2"></div>
      <div class="col-md-9 col-lg-10 user-login-btn">
        <%= button_tag(type: "submit", class: "btn btn-primary btn-sm rounded-pill", ) do %>ログイン<% end %>
      </div>
    </div>
    <div class="row pl-5 pt-3 mt-1">
      <div class="col-md-3 col-lg-2"></div>
      <div class="col-md-9 col-lg-10 guest-login-btn">
        <%= link_to 'ゲストユーザーログイン', users_guest_sign_in_path, method: :post, class: "btn btn-light btn-sm rounded-pill" %>
      </div>
    </div>
  <% end %>
</div>

<div class="container pb-5">
  <div class="row pt-5">
    <div class="col-sm-12 col-md-12 col-lg-12 p-0">
      <h5>会員登録がお済ではない方</h5>
    </div>
  </div>
  <div class="row pt-3">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <p class="pl-5"><%= link_to "新規会員登録ページ", new_user_registration_path, class: "befor-sign" %>　はこちらから！</p>
</div>

<%#= render "users/shared/links" %>
