<p id="notice"></p>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 ">
      <div class="d-flex justify-content-end">
        <%= form_tag({controller:"rooms", action:"index"}, method: :get) do %>
          <%= text_field_tag :search %>
          <%= submit_tag '検索' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="sideber">
      <%= form_with url: user_rooms_path, method: :get do |f| %>
      <table class="table">
        <thead>
          <th style="text-align: center;">カテゴリ</th>
        </thead>
        <tbody>
          <%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) do |category| %>
            <tr>
              <td>
                <div class="pr-4">
                  <% if category.text.in?(@category_name) %>
                    <%= category.check_box(checked: true) %> 
                  <% else %>
                    <%= category.check_box(checked: false) %> 
                  <% end %>
                  <%= category.text %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= submit_tag '検索' %>
      <% end %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="p-2"><span class="rounded-pill p-1 pl-4 pr-4" style="background-color:#afeeee; font-size: 17px; text-decoration: underline;"><%= @user.name %>のトークルーム</span></div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <table class="table">
        <thead>
          <th colspan="5" style="text-align: center;">トークルーム</th>
        </thead>
        <tbody>
          <% @rooms.each do |room| %>
            <tr>
              <td class="col-sm-2 col-md-2 col-lg-2 pl-5">
                <%= link_to user_path(room.user.id) do %>
                  <%= image_tag room.user.get_profile_image %>
                <% end %>
              </td>
              <td class="col-sm-3 col-md-3 col-lg-3">
                <%= Category.where(id: room.category_rooms.pluck(:category_id)).pluck(:name).join(" / ") %>
              </td>
              <td class="col-sm-5 col-md-5 col-lg-5">
                <%= link_to room_path(room.id) do %>
                  <%= room.title %>
                <% end %>
              </td>
              <td class="col-sm-2 col-md-2 col-lg-2">
                <%= localize room.updated_at, format: :short %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="d-flex justify-content-center p-2">
    <%= paginate @rooms %>
  </div>
</div>