<p id="notice"></p>
<div class="sidebar">
  <!--カテゴリのタグ検索機能後で入れる -->
  <%#= render 'public/shared/genre_search', genres: @genres %>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="p-2"><span class="rounded-pill p-1 pl-4 pr-4" style="background-color:#afeeee; font-size: 17px; text-decoration: underline;">みんなのトークルーム</span></div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <table class="table">
        <thead>
          <th colspan="5" style="text-align: center;">トークルーム</th>
        </thead>
        <tbody>
          <% @rooms.each do |room| %>
            <tr>
              <td class="col-sm-2 col-md-2 col-lg-2 pl-5">
                <%= image_tag room.user.get_profile_image %>
              </td>
              <td class="col-sm-2 col-md-2 col-lg-2">
                <%= link_to user_path(room.user.id) do %>
                  <span style="text-decoration: underline;"><%= room.user.name %></span>
                <% end %>さん
              </td>
              <td class="col-sm-2 col-md-2 col-lg-2">
                <%# room.categosy_rooms.name %>
              </td>
              <td class="col-sm-4 col-md-4 col-lg-4">
                <%= link_to room_path(room.id) do %>
                  <%= room.title %>
                <% end %>
              </td>
              <td class="col-sm-2 col-md-2 col-lg-2">
                <%= localize room.updated_at, format: :short %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="d-flex justify-content-center p-2">
    <%= paginate @rooms %>
  </div>
</div>

<div class="container pt-3">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="p-2"><span class="rounded-pill p-1 pl-4 pr-4" style="background-color:#afeeee; font-size: 17px; text-decoration: underline;">新規トークルーム設立</span></div>
    </div>
  </div>
  <%= form_with model: @room, url: rooms_path, method: :post do |f| %>
    <div class="row pt-3">
      <div class="col-sm-2 col-md-2 col-lg-2">
        <label>トークルーム名</label>
      </div>
      <div class="col-sm-10 col-md-10 col-lg-10">
        <%= f.text_field :title, placeholder: "トークルーム名", class: 'form-control', size: "2" %>
      </div>
    </div>
    <div class="row pt-3">
      <div class="col-sm-2 col-md-2 col-lg-2">
        <label>カテゴリ</label>
      </div>
      <div class="col-sm-10 col-md-10 col-lg-10">
        <!--カテゴリのタグチェック後で入れる -->
        <%#= f.collection_check_boxes(:category_ids, Category.all, :id, :name) do |category| %>
          <%#= category.label do %>
            <%#= category.check_box %>
            <%#= category.text %>
          <%# end %>
        <%# end %>
      </div>
    </div>
    <div class="row pt-3">
      <div class="col-sm-2 col-md-2 col-lg-2">
        <label>本文</label>
      </div>
      <div class="col-sm-10 col-md-10 col-lg-10">
        <%= f.text_area :body, placeholder: "本文" , class: 'form-control',size: "2x3" %>
      </div>
    </div>
    <div class="row pt-3">
      <div class="col-sm-2 col-md-2 col-lg-2"></div>
      <div class="col-sm-10 col-md-10 col-lg-10">
        <%= f.radio_button :status, Room.statuses.key(0) %>
        <%= f.label :status, Room.statuses_i18n[:open] %>
        <span style="padding-left: 30px;">
          <%= f.radio_button :status, Room.statuses.key(2) %>
          <%= f.label :status, Room.statuses_i18n[:close] %></span>
      </div>
    </div>
    <div class="row pt-3">
      <div class="col-sm-2 col-md-2 col-lg-2"></div>
      <div class="col-sm-10 col-md-10 col-lg-10">
        <%= f.submit "トークルーム設立！", class: "btn btn-success" %>
      </div>
    </div>
  <% end %>
</div>