<div class="container pb-3">
  <%= render 'users/shared/keyword_search_rooms' %>
</div>

<div class="container pb-4">
  <%= form_with url: rooms_path, method: :get do |f| %>
    <div class="row">
      <div class="col-sm-3 col-md-6 col-lg-8"></div>
      <div class="col-sm-9 col-md-6 col-lg-4">
        <div class="d-flex justify-content-end">
          <div style="flex-wrap: nowrap;">
            <%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) do |category| %>
              <span style="padding-left: 15px; padding-top: 6px;">
                <label class="mb-0" style="flex-wrap: nowrap;">
                  <% if category.text.in?(@category_name) %>
                    <%= category.check_box(checked: true) %> 
                  <% else %>
                    <%= category.check_box(checked: false) %> 
                  <% end %>
                  <%= category.text %>
                </label>
              </span>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="d-flex justify-content-end">
          <div style="padding-left: 10px;">
            <%= f.button class: "btn btn-secondary" do %>
              <i class="fa fa-search"></i>カテゴリ検索
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="container pb-4">
  <div class="row pb-3">
    <div class="col-12 p-0">
      <h5>トークルーム一覧</h5>
    </div>
  </div>
  <%= render 'users/shared/rooms_index', rooms: @rooms %>
</div>

<div class="container pb-5">
  <div class="row">
    <div class="col-12 p-0">
      <h5>トークルーム新規設立</h5>
    </div>
  </div>
  <!--バリデーション設定-->
  <div class="row pl-5">
    <% if @room.errors.any? %>
      <div class = "alert m-0 pb-0">
        <%= @room.errors.count %>件のエラーが発生しました。
        <ul>
          <% @room.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
  <%= form_with model: @room, url: rooms_path, method: :post do |f| %>
    <div class="row pt-3 pl-5">
      <div class="col-md-3 col-lg-2">
        <%= f.label :title %>
      </div>
      <div class="col-md-9 col-lg-10">
        <%= f.text_field :title, placeholder: "トークルーム名(30文字以内)", class: 'form-control', size: "2" %>
      </div>
    </div>
    <div class="row pt-3 pl-5">
      <div class="col-md-3 col-lg-2">
        <%= f.label :category_name %>
      </div>
      <div class="col-md-9 col-lg-10">
        <%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) do |category| %>
          <%= category.label do %>
            <span class="pr-4">
              <%= category.check_box %>
              <%= category.text %>
            </span>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="row pt-3 pl-5">
      <div class="col-md-3 col-lg-2">
        <%= f.label :body %>
      </div>
      <div class="col-md-9 col-lg-10">
        <%= f.text_area :body, placeholder: "本文(400文字以内)" , class: 'form-control',size: "2x3" %>
      </div>
    </div>
    <div class="row pt-3 pl-5">
      <div class="col-md-3 col-lg-2"></div>
      <div class="col-md-9 col-lg-10">
        <%= f.radio_button :status, Room.statuses.key(0) %>
        <%= f.label :status, Room.statuses_i18n[:open] %>
        <span style="padding-left: 30px;">
          <%= f.radio_button :status, Room.statuses.key(2) %>
          <%= f.label :status, Room.statuses_i18n[:close] %>
        </span>
      </div>
    </div>
    <div class="row pt-3 pl-5">
      <div class="col-md-3 col-lg-2"></div>
      <div class="col-md-9 col-lg-10 new-create-btn">
        <%= f.submit "新規設立!", class: "btn btn-success btn-sm rounded-pill" %>
      </div>
    </div>
  <% end %>
</div>