<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 p-0">
      <h5><%= @room.title %>のルーム</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <li class="d-flex d-block d-sm-flex grid-container flex-wrap justify-content-end">
        <span class="pr-3">ルーム：<%= @room.status_i18n %></span>
        <span class="pr-3">カテゴリ：<%= Category.where(id: @room.category_rooms.pluck(:category_id)).pluck(:name).join(" / ") %></span>
        <span>
          <% if @room.liked_by?(current_user) %>
            <%= link_to room_like_path(@room), method: :delete do %>
              <i class="fa-solid fa-heart" style="color: #6caca0;"> <%= @room.likes.count %> いいね</i>
            <% end %>
          <% else %>
            <%= link_to room_likes_path(@room), method: :post do %>
              <i class="fa-regular fa-heart" style="color: #6caca0;"> <%= @room.likes.count %> いいね</i>
            <% end %>
          <% end %>
        </span>
      </li>
    </div>
  </div>
</div>
<div class="container pt-2">
  <div class="row pt-1 room-create mobile-scroll">
    <div class="col-sm-12 col-md-12 col-lg-12 pb-1">
      <table border=1 frame="void" rules="none">
        <tbody>
          <tr>
            <td class="col-sm-1 col-md-1 col-lg-1 pt-2"><%= image_tag @room.user.get_profile_image %></td>
            <td class="col-sm-8 col-md-8 col-lg-8">
              <%= localize @room.updated_at, format: :short %></br>
              <%= link_to user_path(@room.user.id) do %>
                <span style="text-decoration: underline;"><%= @room.user.name %></span>
              <% end %>さん
            </td>
            <td class="col-sm-2 col-md-2 col-lg-2 top">
              <div style="text-align: right;">
                <% if @room.user == current_user %>
                  <%= link_to edit_room_path(@room.id) do %>
                    <i class="fas fa-edit" style="color: #666e7a;"></i>編集
                  <% end %>
                <% end %>
              </div>
            </td>
          </tr>
          <tr>
            <td class="col-sm-1 col-md-1 col-lg-1 pb-2"></td>
            <td colspan="2" class="col-sm-11 col-md-11 col-lg-11 pb-2"><%= simple_format(@room.body) %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row pt-2">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <li class="d-flex justify-content-end">
        <span class="pr-3">コメント件数：<%= @room.comments.count %></span>
      </li>
    </div>
  </div>
  <div class="row mobile-scroll">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <% @room.comments.each do |comment| %>
      <table class="mb-2" border=1 frame="void" rules="none">
        <tbody>
          <tr>
            <td class="col-sm-1 col-md-1 col-lg-1 pt-2"><%= image_tag comment.user.get_profile_image %></td>
            <td class="col-sm-9 col-md-9 col-lg-9">
              <%= localize comment.created_at, format: :short %></br>
              <%= link_to user_path(comment.user.id) do %>
                <span style="text-decoration: underline;"><%= comment.user.name %></span>
              <% end %>さん
            </td>
            <td class="col-sm-2 col-md-2 col-lg-2">
              <div class="text-right">
                <% if comment.user == current_user %>
                  <%= link_to room_comment_path(comment.room, comment), method: :delete, data: { confirm: '本当に削除しますか？' } do %>
                    <i class="fas fa-trash-alt" style="color: #666e7a;"></i>削除
                  <% end %>
                <% end %>
              </div>
            </td>
          </tr>
          <tr>
            <td class="col-sm-1 col-md-1 col-lg-1 pb-2"></td>
            <td colspan="2" class="col-sm-11 col-md-11 col-lg-11 pb-2"><%= simple_format(comment.body) %></td>
          </tr>
        </tbody>
      </table>
      <% end %>
    </div>
  </div>
  <div class="d-flex justify-content-center p-2">
    <%= paginate @comments %>
  </div>
</div>
<div class="container pt-3 pb-5">
  <% if @comment.errors.any? %>
    <div class = "alert mb-0">
      <%= @comment.errors.count %>件のエラーが発生しました。
        <ul>
          <% @comment.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
    </div>
  <% end %>
  <%= form_with model: [@room, @comment], method: :post do |f| %>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <%= f.text_area :body, placeholder: "コメントを入力" , class: 'form-control' %>
    </div>
  </div>
  <div class="row pt-3">
    <div class="col-sm-12 col-md-12 col-lg-12 new-create-btn">
      <%= f.submit "コメントする！", class: "btn btn-success btn-sm rounded-pill" %>
    </div>
  </div>
  <% end %>
</div>