<div class="d-flex justify-content-end">
  <%= link_to "トークルーム", admins_rooms_path, class: "btn btn-outline-secondary btn-sm m-1 mb-3 m-lg-3 rounded-pill" %>
  <%= link_to "会員一覧", admins_users_path, class: "btn btn-outline-secondary btn-sm m-1 mb-3 m-lg-3 rounded-pill" %>
</div>
<div class="d-flex justify-content-end">
  <%= link_to "コメント一覧", admins_comments_path, class: "btn btn-outline-secondary btn-sm m-1 mb-3 m-lg-3 rounded-pill" %>
  <%= link_to "カテゴリ一覧", admins_categories_path, class: "btn btn-outline-secondary btn-sm m-1 mb-3 m-lg-3 rounded-pill" %>
</div>
<div class="d-flex justify-content-end">
  <%= link_to "ログアウト", destroy_admin_session_path, class: "btn btn-outline-secondary btn-sm m-1 mb-3 m-lg-3 rounded-pill", method: :delete %>
</div>