<!DOCTYPE html>
<html>
  <head>
    <title>RabbitLovers</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <script src="https://kit.fontawesome.com/a6ef0cdc17.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <header>
      <div class="container">
        <div class="row">
          <div class="col-sm-2 col-md-2 col-lg-2">
            <nav class="navbar navbar-left ml-2 mt-2">
              ロゴ
            </nav>
          </div>
          <div class="col-sm-10 col-md-10 col-lg-10">
            <nav>
              <ul class="nav navbar-nav navbar-right ml-auto">
                <% if user_signed_in? %>
                  <li class="nav-item d-flex justify-content-end"><%= render 'users/shared/after_sign_in_users' %></li>
                <% elsif admin_signed_in? %>
                  <%= render 'admins/shared/after_sign_in_admins' %>
                <% else %>
                  <li class="nav-item d-flex justify-content-end"><%= render 'users/shared/before_sign_in' %></li>
                <% end %>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      <div class="container mb-3 mt-2 ">
        <div class="row">
          <div class="mx-auto">
            <p>CopyRight © 2023 RabbitLovers Inc.</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
