<!DOCTYPE html>
<html>
  <head>
    <title>RabbitLovers</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <script src="https://kit.fontawesome.com/a6ef0cdc17.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+1p" rel="stylesheet">
  </head>

  <body class="d-flex flex-column vh-100">
    <header>
      <div class="container" style="background-color: #d2d8d8;">
        <div class="row">
          <div class="col-sm-2 col-md-2 col-lg-2">
            <nav class="navbar navbar-left">
              <%= link_to image_tag("logo.jpg", size: '150x150'), root_path %>
            </nav>
          </div>
          <div class="col-sm-10 col-md-10 col-lg-10">
            <nav>
              <ul class="nav navbar-nav navbar-right ml-auto header-navbar">
                <% if user_signed_in? %>
                  <li class="nav-item d-block d-md-flex grid-container ml-md-auto"><%= render 'users/shared/after_sign_in_users' %></li>
                  <div class="text-right mr-3 "><span class="marker">welcome, <%= current_user.name %>さん！</span></div>
                <% elsif admin_signed_in? %>
                  <li class="nav-item d-block d-lg-flex grid-container ml-lg-auto"><%= render 'admins/shared/after_sign_in_admins' %></li>
                <% else %>
                  <li class="nav-item d-block d-sm-flex grid-container ml-sm-auto"><%= render 'users/shared/before_sign_in' %></li>
                <% end %>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <main>
      <div class="container mb-3 mt-2 ">
        <div class="row">
          <div class="pl-3">
            <% flash.each do |message_type, message| %>
              <div class="flash-message <%= message_type %>"><%= message %></div>
            <% end %>
          </div>
        </div>
      </div>
      <%= yield %>
    </main>
    <footer>
      <div class="container mb-3 mt-2 ">
        <div class="row">
          <div class="mx-auto">
            <p>CopyRight © 2023 RabbitLovers Inc.</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
