<!DOCTYPE html>
<html>
  <head>
    <title>RabbitLovers</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <script src="https://kit.fontawesome.com/a6ef0cdc17.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <header>
      <div class="container">
        <div class="row">
          
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      <div class="container mb-3 mt-2 ">
        <div class="row">
          <div class="mx-auto">
            <p>CopyRight © 2023 RabbitLovers Inc.</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
